@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --main-color: #027581;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  /* z-index: 100; */
  background: var(--main-color);
  color: #fff;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 16px;
}

.sidebar-menu1 {
  padding: 16px;
}

.icon span {
  margin-top: 0px;
}

.icon {
  font-size: 15px;
}

br {
  color: rgba(0, 0, 0, 0);
}

.sidebar-menu1 div:hover {
  text-decoration: underline;
  background-color: #027581;
}

.accordion:hover {
  color: black;
  text-decoration: underline;
  background-color: #027581;
}

.sidebar-menu1 span:hover {
  color: black;
  text-decoration: underline;
  background-color: #027581;
}

.sidebar-menu1 div {
  font-size: 15px;
}

.sidebar-menu1 div {
  font-size: 15px;
}
/*  */
/* .sidebar-menu1 span:hover { */
/* background-color: #027581; */
/* color: black; */
/* font-size: 24px; */
/* padding: 0px 10px; */
/* text-align: center; */
/* transition: 0.5s; */
/* } */


.sidebar-menu1 span {
  font-size: 15px;
}

.sidebar li {
  margin-bottom: 16px;
}

.sidebar a {
  color: #fff;
  font-size: 0.9rem;
}

.sidebar a span:last-child {
  padding-left: 0.6rem;
}

.main-content {
  position: relative;
  margin-left: 240px;
}

my-header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 38px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url();
  border-radius: 50%;
}

main {
  margin-top: 30px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 2.5rem 3rem;
}

.dash-title h2 {
  color: var(--color-dark);
  margin-bottom: 1rem;
  font-size: 202px;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
}

.card-single {
  background: #fff;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 9px 12px;
  display: flex;
  align-items: center;
}

.card-body span {
  font-size: 1.5rem;
  color: #777;
  padding-right: 1.4rem;
}

.card-body h5 {
  color: var(--text-grey);
  font-size: 16px;
}

.card-body h4 {
  color: var(--color-dark);
  font-size: 17px;
  margin-top: 2px;
}

.card-footer {
  padding: 0.2rem 1rem;
  background: #faf9fc;
}

.card-footer a {
  color: var(--main-color);
}

#copyrights {
  margin-left: 10px;
  text-align: left;
  margin-right: 5px;
}

.row-title {
  font-weight: bold;
  font-size: large;
  padding: 5px 0px 5px 0px;
  color: #212529;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
}

.bidfield {
  margin-top: 10px;
}

.sub-row {
  color: #777;
  font-weight: lighter;
}

.my-label {
  line-height: 1.7;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-weight: lighter;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: inherit;
}

.row-fields {
  display: flex;
  /* flex-direction: row; */
  align-items: left;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

/*-------------------------------*/

.accordion {
  background-color: #027581;
  color: white;
  cursor: pointer;
  padding: 0px 0px 14px 5px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* .active, */
/* .accordion:hover { */
/* background-color: #027581; */
/* color: black; */
/* font-size: 15px; */
/* } */
/*  */
/* .accordion:after { */
/* content: "\002B"; */
/* color: #777; */
/* font-weight: bold; */
/* float: center; */
/* margin-left: 5px; */
/* } */
/*  */
/* .active:after { */
/* content: "\2212"; */
/* } */

.my-panel span {
  padding: 0px;
}

.my-panel {
  padding: 0 20px;
  background-color: #027581;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
